@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
:root {
  --primary-color: #81d4fa;
  --primary-color-darker: #283593;
  --confirm-color: rgb(0, 140, 54);
  --sucess-color: rgb(120, 255, 172);
  --cancel-color: rgb(199, 3, 3);

  --default-font: Nunito Sans, Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  font-family: var(--default-font);
}

body {
  background-color: var(--primary-color);
}

main {
  display: flex;
  background-color: white;
  margin: 0 18%;
  padding-bottom: 20px;
  box-shadow: 0px 0px 5px 1px rgb(41, 71, 75);
  height: 100%;
  border-radius: 20px;
  overflow: auto;
}
p {
  font-size: 16px;
  font-weight: 200;
}
h1 {
  font-size: 50px;
  font-weight: 600;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  font-weight: 300;
}

table,
th,
tr,
td {
  font-size: 16px;
  font-family: var(--default-font);
  margin: 0;
}
table {
  width: 100%;
  overflow: hidden;
}
th {
  border-bottom: 1px solid black;
}

td {
  font-size: 15px;
  background-color: transparent;
  border-bottom: 2px #bdbdbd solid;
  padding-bottom: 4px;
}

a {
  color: black;
  text-decoration: none;
  text-decoration: underline;
  font-size: 100%;
}

.msgs {
  margin: 5px auto;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  border-radius: 10px;
  max-width: 300px;
}
.msgs.error {
  background-color: rgb(255, 110, 122);
}
.msgs.sucess {
  background-color: var(--sucess-color);
}
.sectionData {
  padding: 20px;
  width: 100%;
}
.bnt {
  width: 100%;
  font-size: 16px;
  max-width: 300px;
  margin-top: 21px;
  padding: 7px;
  border-radius: 10px;
  border: none;
  background-color: var(--primary-color-darker);
  color: white;
  border-bottom: 3px black solid;
  cursor: pointer;
}
.bnt.green.table {
  margin-top: 0px;
}
.bnt.red.table {
  margin-top: 0px;
}
.bnt:focus {
  border-bottom: none;
  transform: translateY(3px);
}
.bnt.green {
  background-color: var(--confirm-color);
}
.bnt.red {
  background-color: var(--cancel-color);
}
.buttonsPanel {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.links {
  display: flex;
  flex-direction: row;
}

.input {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 5px;
}
.input input {
  font-size: 16px;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px #bdbdbd solid;
  padding-bottom: 4px;
}
.input label {
  width: 100%;
  text-align: left;
}
.register {
  padding-right: 20px;
  display: flex;
  justify-content: right;
  width: 100%;
}
.forms {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sections {
  width: 100%;
}
.mainContacts {
  flex-direction: column;
}

.mainLogin {
  justify-content: space-around;
}

.erase {
  color: red;
}
.erase:hover {
  color: rgb(189, 0, 0);
}

.edit {
  color: darkcyan;
}
.edit:hover {
  color: #304d63;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 9vh;
  background-color: var(--primary-color-darker);
  align-items: center;
  padding: 10px;
}

.center {
  text-align: center;
  margin: 20px;
}

.divHeader {
  color: white;
  font-family: var(--default-font);
  font-size: 20px;
  padding-bottom: 1vh;
  padding: 10px;
}
