<%- include("./Modules/head.ejs") %>

  <body>
    <%- include('./Modules/Header.ejs') %>
    <main>
      <section class="sectionData">
        <div class="center">
          <h1>ERRO 404</h1>
          <h3>Página não encontrada</h3>
        </div>
      </section>
    </main>

    <%- include("./Modules/footer.ejs") %>
    
  </body>
</html>
